/* Styling for the whole page */
body {
    background-image: url('library-background.jpg'); /* Replace with actual background */
    background-size: cover;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

/* Header styling for the page */
.page-header {
    font-size: 40px;
    margin-top: 20px;
    color: rgb(25, 21, 21);
}

/* Container for the borrowed books table */
.container-borrowed-books {
    margin: 40px auto;
    width: 80%;
    background-color: black;
    padding: 2px;
    border-radius: 5px;
}

/* Styling for the borrowed books table */
.table-borrowed-books {
    width: 100%;
    border-collapse: collapse;
}

.table-borrowed-books th, .table-borrowed-books td {
    padding: 15px;
    border: 1px solid black;
    border-radius: 2px;
    text-align: left;
}

/* Styling for the table header */
.table-borrowed-books th {
    background-color: red;
    color: white;
}

/* Styling for the table rows */
.table-borrowed-books td {
    background-color: gray;
    color: black;
    font-weight: bolder;
}
